/* App.css */
.App {
  max-width: 800px; /* Adjusted width for better layout */
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0; /* Slightly darker grey background */
}

body {
  background-color: #f0f0f0; /* Slightly darker grey background for the sides */
}

.App-header {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Space between items */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2; /* Span both columns */
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  grid-column: span 2; /* Span both columns */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message, .success-message {
  grid-column: span 2; /* Span both columns */
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.note, .faq-link {
  grid-column: span 2; /* Span both columns */
}